/* core */



/* style */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  rgba(112, 104, 151, 1);
    background:  rgba(235, 207, 196, .8);
}
h2 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    color: rgba(112, 104, 151, 1);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
p {
    margin-bottom: 30px;
}
section {
    padding: 50px 0;
    position: relative;
    z-index: 300;
    background: white;
}
section:last-of-type {
    margin-bottom: 0;
}
img {
    width: 100%;
    height: auto;
}

#log{
    position: fixed; top: 0; right: 0; padding: 50px; background: black; color: white; z-index: 99999; display: none;
}



.vicos {
    background: transparent;
    padding: 0;
}
.vicos .content-wrap{
    position: relative;
    min-height: 130vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.vicos .content-wrap:last-child {
    border-bottom: 2px solid white;
}
.vicos .content-inner{
    max-width: 500px;    
    top: 50%;
    left: 20%;
    background: white;
    padding: 40px 40px 10px 40px;
}

.vicos-image.active {
    z-index: 10;
    animation: show .15s forwards linear, zoom 20s forwards linear;
}

@keyframes show {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}
@keyframes zoom {
    from {
        transform: scale(1);
    }
  
    to {
        transform: scale(1.4)
    }
}