/* core */



/* style */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  rgba(112, 104, 151, 1);
    background:  rgba(235, 207, 196, .8);
}
h2 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    color: rgba(112, 104, 151, 1);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
p {
    margin-bottom: 30px;
}
section {
    padding: 50px 0;
    position: relative;
    z-index: 300;
    background: white;
}
section:last-of-type {
    margin-bottom: 0;
}
img {
    width: 100%;
    height: auto;
}





.vicos {
    background: transparent;
    padding: 0;
}
.vicos .content-wrap{
    position: relative;
    min-height: 130vh;    
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vicos .content-wrap:last-child {
    border-bottom: 2px solid white;
}
.vicos .content-inner{
    max-width: 500px;    
    top: 50%;
    left: 20%;
    background: white;
    padding: 40px 40px 10px 40px;
}